.Header,
.HeaderDark {
  position: sticky;
  z-index: 99;
  top: 0;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  padding: 16px 0;
  background: #fff;
}

.HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.HeaderContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.HeaderMainMenu {
  margin-left: 32px;
}

.HeaderRight {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  gap: 35px;
  justify-content: flex-end;
}

.HeaderTheme,
.HeaderWallet,
.HeaderMessages {
  display: flex;
  align-items: center;

  svg {
    height: 20px;
  }
}

.HeaderAccount {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button svg {
    cursor: pointer;
    height: 20px;
    width: 20px;
  }
}

.HeaderToggleMenu {
  display: none;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  color: #545377;

  svg {
    height: 16px;
  }
}

.HeaderMobileMenu {
  display: none;
}

.HeaderDark {
  background: #0d0c22;
  @apply bg-gradient-to-r from-dark-default  via-dark-default to-[#1d1a4b];
}

// Dropdown menu for Wallet
.dropdownMenu {
  @apply absolute z-40 -ml-[140px] mt-[10px] hidden min-w-[230px]  flex-col rounded-lg bg-dark-gray py-[12px] 
    px-[10px] text-left  text-[14px] font-400 text-light-gray shadow-xl md:flex;
}

.dropdownMenu .item {
  @apply flex cursor-pointer items-center justify-between rounded-md 
  py-[6px] px-[12px] hover:bg-dark-pri/10 hover:text-dark-pri;
}

.dropdownMenu .item .icon {
  @apply cursor-pointer text-[18px];
}

@media screen and (max-width: 1366px) {
  .HeaderRight {
    gap: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .HeaderWrapper {
    padding: 0 16px;
  }

  .HeaderMainMenu,
  .HeaderRight {
    display: none !important;
  }

  .HeaderContent {
    @apply justify-evenly;
  }

  .HeaderToggleMenu {
    display: flex;
  }

  .HeaderBlur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
  }

  .HeaderMobileMenu {
    display: block;
    position: absolute;
    z-index: 49;
    background-color: inherit;
    height: 100vh;
    overflow-y: scroll;
    width: 80%;
    // max-width: min(500px, 85%);
    // padding: 0 16px;
    @apply overflow-x-clip pb-[24px];
    top: 0;
    -ms-overflow-style: none;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .HeaderMainMenu,
    .HeaderRight,
    .HeaderTheme,
    .HeaderWallet,
    .HeaderMessages {
      margin-top: 0rem;
      @apply px-[12px];
    }

    .HeaderMainMenu,
    .HeaderRight,
    .HeaderTheme,
    .HeaderWallet,
    .HeaderMessages {
      display: flex !important;
      flex-direction: column;
    }

    .HeaderAccount {
      display: block !important;
      width: 100%;
      height: auto;
      text-align: left;

      .HeaderBanner {
        // margin: -15px -24px 0 -24px;
        padding: 60px 0;
        background-repeat: no-repeat;
        background-size: cover;
        // width: calc(100% + 48px);
        max-height: 120px;
      }

      .HeaderMobileAvatar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 90px;
        border-radius: 100%;
        margin-top: -10px;
        margin-bottom: 16px;

        img {
          height: 90px;
          width: 90px;
        }

        svg {
          height: 33px;
          width: 33px;
          @apply text-white;
        }
      }

      .HeaderMobileUsername {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .HeaderMainMenu {
      display: grid !important;
      margin-left: 0;
      font-size: 2rem !important;
    }
  }

  .HeaderDark {
    .HeaderMobileMenu {
      // background: #201d30;
      @apply bg-gradient-to-l from-dark-default  via-dark-default to-[#1d1a4b];
    }
  }
}
